<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Menucontroller</key>
	<dict>
		<key>czjr</key>
		<string>czjr_orange</string>
		<key>bbgl</key>
		<string>bbgl_orange</string>
		<key>zhgl</key>
		<string>zhgl_orange</string>
		<key>dlgl</key>
		<string>dlgl_orange</string>
		<key>dxgl</key>
		<string>dxgl_orange</string>
		<key>tcdl</key>
		<string>tcdl_orange</string>
	</dict>
	<key>MemberPage</key>
	<dict>
		<key>bankCardBgViewColor</key>
		<string>#FFFFFF</string>
		<key>bankCardTag</key>
		<string>bankAllGlass</string>
		<key>center_yonghuliebiao</key>
		<string>center_yonghuliebiao_orange</string>
		<key>center_zhuceguanli</key>
		<string>center_zhuceguanli_orange</string>
		<key>center_zhanneiduanxin</key>
		<string>center_zhanneiduanxin_orange</string>
		<key>tueguangliangjie</key>
		<string>tueguangliangjie_orange</string>
		<key>center_fee_convert</key>
		<string>center_fee_convert_orange</string>
		<key>center_wodetuijian</key>
		<string>center_wodetuijian_orange</string>
		<key>center_score_exchange</key>
		<string>center_score_exchange_orange</string>
		<key>center_goucaichaxun</key>
		<string>center_goucaichaxun_orange</string>
		<key>center_zhuihaochaxun</key>
		<string>center_zhuihaochaxun_orange</string>
		<key>center_zhenrenzhudan</key>
		<string>center_zhenrenzhudan_orange</string>
		<key>center_dianzizhudan</key>
		<string>center_dianzizhudan_orange</string>
		<key>center_gerenbaobiao</key>
		<string>center_gerenbaobiao_orange</string>
		<key>center_tuanduibaobiao</key>
		<string>center_tuanduibaobiao_orange</string>
		<key>center_zhangbianbaobiao</key>
		<string>center_zhangbianbaobiao_orange</string>
		<key>center_chongtijilu</key>
		<string>center_chongtijilu_orange</string>
		<key>center_youhuihuodong</key>
		<string>center_youhuihuodong_orange</string>
		<key>center_yonghuziliao</key>
		<string>center_yonghuziliao_orange</string>
		<key>center_yinhangka</key>
		<string>center_yinhangka_orange</string>
		<key>center_gerenzonglan</key>
		<string>center_gerenzonglan_orange</string>
		<key>center_mibaoxiugai</key>
		<string>center_mibaoxiugai_orange</string>
		<key>center_caizhongxinxi</key>
		<string>center_caizhongxinxi_orange</string>
		<key>center_caizhongxiane</key>
		<string>center_caizhongxiane_orange</string>
		<key>center_kaijiangjieguo</key>
		<string>center_kaijiangjieguo_orange</string>
		<key>center_zoushitu</key>
		<string>center_zoushitu_orange</string>
		<key>center_tuanduizonglan</key>
		<string>center_tuanduizonglan_orange</string>
		<key>center_wangzhangonggao</key>
		<string>center_wangzhangonggao_orange</string>
		<key>bzzx_icon</key>
		<string>bzzx_icon_orange</string>
	</dict>
	<key>FrostedGlass</key>
	<dict>
		<key>textGlassWhiteOtherRed</key>
		<string>#FFFFFF</string>
		<key>viewColorGlassBlackOtherGray</key>
		<string>#000000</string>
		<key>textGlassWhiteOtherGray</key>
		<string>#FFFFFF</string>
		<key>whiteGlassOtherGray</key>
		<string>#FFFFFF</string>
		<key>viewGrayGlassOtherGray</key>
		<string>#D3D3D3</string>
		<key>filterViewColor</key>
		<string>#FFFFFF</string>
		<key>higherAlpha</key>
		<real>0.4</real>
		<key>Touzhu</key>
		<dict>
			<key>navDownImage</key>
			<string>navDown_black</string>
			<key>separateLineColor</key>
			<string>#FFFFFF</string>
			<key>ruleCellSelectedBGColor</key>
			<string>#FFFFFF</string>
			<key>ruleCellSelectedTextColor</key>
			<string>#000000</string>
			<key>ruleCellNormalTextColor</key>
			<string>#FFFFFF</string>
		</dict>
		<key>homeTitleNormalTextColor</key>
		<string>#FFFFFF</string>
		<key>normalDarkTextColor</key>
		<string>#000000</string>
		<key>glassTextWiteOtherBlack</key>
		<string>#FFFFFF</string>
		<key>ColorImage</key>
		<string>themeImage_frosted_purple</string>
		<key>ColorImageCoverAlpha</key>
		<real>0.2</real>
		<key>ColorImageCoverAlphZeroForGlass</key>
		<integer>0</integer>
		<key>ColorImageCoverAlphHigerForGlass</key>
		<real>0.4</real>
		<key>ColorImageCoverColor</key>
		<string>#FFFFFF</string>
		<key>subColorImageCoverColor</key>
		<string>#FFFFFF</string>
		<key>subColorImageCoverDarkColorForNotGlass</key>
		<string>#FFFFFF</string>
	</dict>
	<key>PopView</key>
	<dict>
		<key>popup_大转盘</key>
		<string>popup_大转盘_orange</string>
		<key>popup_抢红包</key>
		<string>popup_抢红包_orange</string>
		<key>popup_积分兑换</key>
		<string>popup_积分兑换_orange</string>
		<key>popup_返回电脑版</key>
		<string>popup_返回电脑版_orange</string>
		<key>popup_返回wap版</key>
		<string>popup_返回wap版_orange</string>
		<key>popup_签到</key>
		<string>popup_签到_orange</string>
		<key>popup_优惠活动</key>
		<string>popup_优惠活动_orange</string>
		<key>popup_站内信</key>
		<string>popup_站内信_orange</string>
		<key>popup_主题切换</key>
		<string>popup_主题切换_orange</string>
	</dict>
	<key>General</key>
	<dict>
		<key>placeHeader</key>
		<string>placeHeader_glassOrange</string>
		<key>personalHeaderBg</key>
		<string>personalHeaderBg_glassOrange</string>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>tabbarBackgroundColor</key>
		<string>#FFFFFF</string>
		<key>plus</key>
		<string>tabPlus_glass_orange</string>
		<key>home</key>
		<string>tabHome_glass_orange</string>
		<key>discount</key>
		<string>tabDiscount_glass_orange</string>
		<key>lottery</key>
		<string>tabLottery_glass_orange</string>
		<key>personal</key>
		<string>tabPersonal_glass_orange</string>
	</dict>
	<key>HomePage</key>
	<dict>
		<key>lotLevelIcon</key>
		<string>icon_sjx_orange</string>
		<key>homeDepositAndWithDraw</key>
		<string>homeDepositAndWithDraw_glass_orange</string>
		<key>betRecord</key>
		<string>homeBetRecord_glass_orange</string>
		<key>onelineService</key>
		<string>onelineService_glass_orange</string>
		<key>download</key>
		<string>homeDownload_glass_orange</string>
		<key>withdrawal</key>
		<string>withdrawal_glass_orange</string>
		<key>homeDeposit</key>
		<string>homeDeposit_glass_orange</string>
	</dict>
	<key>TouzhOffical</key>
	<dict>
		<key>recentResult</key>
		<string>bet_recent_result_black</string>
		<key>betSelectedCellColor</key>
		<string>#f44b28</string>
		<key>betNormelCellColor</key>
		<string>#A9A9A9</string>
		<key>downTriangle</key>
		<string>downTriangle_glass_orange</string>
		<key>rectangleBtnLightColor</key>
		<string>#fce0e0</string>
		<key>sideNavSelectedBox</key>
		<string>sideNavDotSelected_orange</string>
		<key>sideNavBox</key>
		<string>sideNavDot_orange</string>
		<key>handleLeft</key>
		<string>handleLeft_orange</string>
		<key>handleRight</key>
		<string>handleRight_orange</string>
		<key>piggyBank</key>
		<string>piggyBank_orange</string>
		<key>checkbox_selected</key>
		<string>checkbox_selected_orange</string>
		<key>checkbox_normal</key>
		<string>checkbox_orange</string>
		<key>ballDark</key>
		<string>ballDark_red</string>
		<key>ballLight</key>
		<string>ballLight_red</string>
		<key>dropDownHisLotteryBtnBackImg</key>
		<string>dropDownHisLottery_orange</string>
		<key>robot_bet_button</key>
		<string>robotSelectNum_orange</string>
		<key>topHeaderImg</key>
		<string></string>
		<key>SwiftPopMenu</key>
		<dict>
			<key>sevenImage</key>
			<string>assistant_chat_blur_orange</string>
			<key>sixImage</key>
			<string>switchSoundEffect_orange</string>
			<key>firstImage</key>
			<string>homeBetRecord_glass_orange</string>
			<key>secodeImage</key>
			<string>assistant_historyLottery_orange</string>
			<key>thirdImage</key>
			<string>assistant_playDes_orange</string>
			<key>fourthImage</key>
			<string>assistant_setup_orange</string>
			<key>fiveImage</key>
			<string>assistant_switch_theme_orange</string>
		</dict>
	</dict>
	<key>Global</key>
	<dict>
		<key>UIStatusBarStyle</key>
		<string>Default</string>
		<key>viewAlpha</key>
		<integer>1</integer>
		<key>themeColorImg</key>
		<string>themeColorImg_red</string>
		<key>Login_Register</key>
		<dict>
			<key>fieldFlowerImg</key>
			<string>registerFieldFlower_orange</string>
			<key>rememberCheckboxSelected</key>
			<string>loginCheckbox_selected</string>
			<key>rememberCheckboxNormal</key>
			<string>loginCheckbox_normal</string>
			<key>fieldPwdImg</key>
			<string>loginFieldPwd_orange</string>
			<key>fieldAccountImg</key>
			<string>loginAccount_orange</string>
			<key>background</key>
			<string>login_red_bg</string>
		</dict>
		<key>lightGray</key>
		<string>#999999</string>
		<key>themeColor</key>
		<string>#000000</string>
		<key>barTextColor</key>
		<string>#000000</string>
		<key>barTintColor</key>
		<string>#FFFFFF</string>
	</dict>
</dict>
</plist>
